@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  font-family: 'Staatliches', cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #8fcd98;
}

.main {
  display: none;
}

.load {
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #ffffff;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #ffffff;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #ffffff;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #ffffff;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#closeside {
  float: right;
  cursor: pointer;
}

.character {
  position: absolute;
  top: 200px;
  left: 200px;
  display: block;
}

.tree {
  float: right;
  margin-top: 2vh;
  margin-right: 5vw;
}

#opponent {
  left: 500px;
  top: 500px;
}

.track {
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 60%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-collapse: separate;
  display: table;
  border-width: 2px;
  color: white;
  position: absolute;
  height: 70vh;
  width: 70vw;
}

.track .inner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-collapse: separate;
  border: 2px solid rgb(255, 255, 255);
  width: 50vw;
  height: 40vh;
}

#startline {
  background-image: url(./images/NamnloÌˆst-1.png);
  background-repeat: no-repeat;
  background-size: 2vw 7.3vw;
  position: absolute;
  margin-left: 20vw;
  margin-top: 65vh;
}

#horse1 {
  width: 20px;
  height: 20px;
  background-color: #898989;
  position: absolute;
  top: 70vh;
  z-index: 999;
}

#horse2 {
  position: absolute;
  top: 74vh;
  z-index: 999;
  width: 20px;
  height: 20px;
  background-color: #e38c4e;
}

#horse3 {
  position: absolute;
  top: 78vh;
  z-index: 999;
  width: 20px;
  height: 20px;
  background-color: #f7ff61;
}

#horse4 {
  position: absolute;
  top: 82vh;
  z-index: 999;
  width: 20px;
  height: 20px;
  background-color: #f44e4e;
}

.horse {
  left: 40vw;
}

#start {
  margin-top: 1em;
  font-family: 'Staatliches', cursive;
  padding: 1vw;
  background-color: transparent;
  border: none;
  padding: 12px 42px;
  cursor: pointer;
  font-size: 1.2rem;
  outline-offset: 4px;
  border: 1.5px solid white;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 7px rgba(239, 190, 121, 0.868);
  box-shadow: 4px 4px 7px rgba(239, 190, 121, 0.868);
}

.bet-main {
  padding: 2em;
  position: absolute;
  z-index: 999;
  top: 0;
}

#bet {
  font-size: 1.2rem;
  width: 20vw;
  color: white;
  overflow: auto;
}

#bet p {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  margin: auto;
  font-size: 2rem;
}

input {
  font-size: 1rem;
  font-family: 'Staatliches', cursive;
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-radius: none;
  padding: 5px 5px;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  box-shadow: none;
  color: white;
}
input:invalid {
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: normal;
  text-align: -internal-center;
}

#bethorse {
  font-family: 'Staatliches', cursive;
  display: block;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 1.5px solid rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 0em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

#results {
  width: auto;
  font-size: 1.7rem;
  border: 1.5px solid white;
  padding: 1vw;
  margin-top: 1em;
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-box-shadow: 4px 4px 7px rgba(239, 190, 121, 0.868);
  box-shadow: 4px 4px 7px rgba(239, 190, 121, 0.868);
}
#results td {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: 0px -64px;
}
#results .horse1 {
  height: 20px;
  background-color: #898989;
}
#results .horse2 {
  height: 20px;
  background-color: #e38c4e;
}
#results .horse3 {
  height: 20px;
  background-color: #f7ff61;
}
#results .horse4 {
  height: 20px;
  background-color: #f44e4e;
}

.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}

.main {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2em;
}

.main > * {
  grid-column: col-start / span 12;
}

@media (min-width: 768px) {
  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  .sidebar {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }
  .sidebar-two {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }
  .main-footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}


.resize-text{
  display: none;
}

@media only screen and (max-width: 868px) {
  .resize {
    display: none;
  }

  .resize-text{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }
}
